/* 必要に応じてスタイルを追加 */
#app {
  text-align: center;
  padding: 20px;
  font-size: 20px; /* ボタンのフォントサイズを設定 */
}

#purchaseButton {
  width: 50%; /* ボタンの幅を親要素の50%に設定 */
  height: 50px; /* ボタンの高さを設定 */
  margin-top: 10px; /* 画像とボタンの間に少しスペースを作る */
  font-size: 20px; /* ボタンのフォントサイズを設定 */
  /* 必要に応じて他のスタイルも追加 */
}

img {
  width: 100%; /* 画像の幅を親要素の100%に設定 */
  height: 50%; /* 画像の高さを自動調整 */
}
